{% extends 'ideas/base.html' %}

{% block content %}

    <main class = "container">
        <div class = "row text-center justify-content-center">
            <div class = "col">
                <h1 class = "display-4"> About Manzana (temporary name)! </h1>
            </div>
        </div>
    </main>

{% endblock %}