{% load static %}

<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet"> 

    <!-- CSS -->
    <link rel = "stylesheet" type = "text/css" href = "{% static 'ideas/style.css' %}">
    
	{% if title %}
		<title> Manzana | {{ title }} </title>
	{% else %}
		<title> Manzana </title>
	{% endif %}
	<title> Manzana </title>
    
</head>
<body>

    {% if user.is_authenticated %}

        <header>

            <nav class = "navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
                <div class = "container">
                    <a href = "{% url 'ideas-home' %}" class = "navbar-brand"> Knowt </a>
                    <button
                    class = "navbar-toggler"
                    type = "button"
                    data-bs-toggle = "collapse"
                    data-bs-target = "#navmenu"
                    >
                    <span class = "navbar-toggler-icon"></span>
                    </button>

                    <div class = "collapse navbar-collapse" id = "navmenu">
                        <ul class = "navbar-nav ms-auto">
                            <li class = "nav-item me-3">
                                <a href = "{% url 'profile' %}" class = "nav-link"> Profile </a>
                            </li>
                            <a href = "{% url 'logout' %}"> 
                                <button class = "btn btn-outline-light"> Logout </button>
                            </a>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

    {% else %}

        <header>

            <nav class = "navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
                <div class = "container">
                    <a href = "{% url 'ideas-home' %}" class = "navbar-brand"> Knowt </a>
                    <button
                    class = "navbar-toggler"
                    type = "button"
                    data-bs-toggle = "collapse"
                    data-bs-target = "#navmenu"
                    >
                    <span class = "navbar-toggler-icon"></span>
                    </button>

                    <div class = "collapse navbar-collapse" id = "navmenu">
                        <ul class = "navbar-nav ms-auto">
                            <li class = "nav-item me-3">
                                <a href = "{% url 'ideas-about' %}" class = "nav-link"> About </a>
                            </li>
                            <a href = "{% url 'login' %}"> 
                                <button class = "btn btn-outline-light"> Log in </button>
                            </a>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>

    {% endif %}

    <main>

        {% block content %}

        {% endblock %}
        
    </main>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>