{% extends 'ideas/base.html' %}


{% block content %}

    {% if user.is_authenticated %}

        <div class = "container">

            <div class = "row">
                
                <div class = "col-md-2">
                    <div class = "content-section">
                        <ul class = "list-group">
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-lightbulb-fill"></i></span>
                                <span> My ideas </span>
                            </a>
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-bookmark-fill"></i></span>
                                <span> Saved ideas </span>
                            </a>
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-tag-fill"></i></span>
                                <span> Tags </span>
                            </a>
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-people-fill"></i></span>
                                <span> Contributors </span>
                            </a>
                        </ul>
                    </div>
                </div>  

                <div class = "col-md-8">
                    {% for idea in ideas %}
                        <article class = "card mb-3">
                            <div class = "card-body">
                                <div class = "row">
                                    <div class = "col-md-10">
                                        <a href = "{% url 'idea-detail' idea.id %}" class = "card-title">
                                            <h4 class = "text-dark"> {{ idea.name }} </h4>
                                        </a>
                                        <p class = "card-text text-break"> 
                                            {{ idea.description|slice:":250" }} ...
                                        </p>
                                        <span class="badge bg-secondary">
                                            <a class = "text-light" href = "#"> tag1 </a>
                                        </span>
                                        <span class="badge bg-secondary">
                                            <a class = "text-light" href = "#"> tag2 </a>
                                        </span>
                                        <div class = "d-inline float-end">
                                            {% for contributor in idea.contributors.all %}
                                                <small> Created by {{ contributor }} </small>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class = "col-md-2 text-muted text-end">
                                        <small class = "mb-3"> 
                                            {{ idea.date_created|date:"F d, Y" }} 
                                        </small>
                                        <small class = "mb-2"> 0 views </small>
                                        <small> 0 tasks </small>
                                    </div>
                                </div>
                            </div>                  
                        </article>
                    {% endfor %}
                </div>

                <div class = "col-md-2">
                    <div class = "content-section">
                        <ul class = "list-group">
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-lightbulb-fill"></i></span>
                                <span> My ideas </span>
                            </a>
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-bookmark-fill"></i></span>
                                <span> Saved ideas </span>
                            </a>
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-tag-fill"></i></span>
                                <span> Tags </span>
                            </a>
                            <a class = "list-group-item list-group-item-light" href = "#">
                                <span><i class = "bi bi-people-fill"></i></span>
                                <span> Contributors </span>
                            </a>
                        </ul>
                    </div>
                </div>  

            </div>

            <!--
            {% for idea in ideas %}
                <div>
                    <div>
                        <a class = "mr-2" href = "#"> {{ idea.author }} </a>
                        {% for contributor in idea.contributors.all %}
                            <small> {{ contributor }} </small>
                        {% endfor %}
                        <small> {{ idea.date_created }} </small>
                    </div>
                    <div>
                        <h2><a href = "#"> {{ idea.name }} </a></h2>
                        <p> {{ idea.description }} </p>
                        {% for task in idea.task_set.all %}
                            <ul>
                                <li> {{ task.name }} </li>
                            </ul>
                        {% endfor %}
                        {% for tag in idea.tags.all %}
                            <small> {{ tag }} </small>
                        {% endfor %}
                    </div>
                </div>
                <br/>
            {% endfor %}
            -->

        </div>

    {% else %}

        <div class = "container">
            
            <div class = "section text-dark text-center">
                <h1> Plan Your Prosocial AI Project </h1>
                <p>
                    Create and contribute project ideas with intelligent<br/>
                    plans to save the world
                </p>
                <a href = "{% url 'register' %}">
                    <button class = "btn btn-outline-dark mt-2"> Join </button>
                </a>
            </div>

        </div>

    {% endif %}
 

{% endblock %}

