{% extends 'ideas/base.html' %}


{% block content %}

    <div class = "container">

        <div class = "row">
            
            <div class = "col-md-2">
                <div class = "content-section">
                    <ul class = "list-group">
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-lightbulb-fill"></i></span>
                            <span> My ideas </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-bookmark-fill"></i></span>
                            <span> Saved ideas </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-tag-fill"></i></span>
                            <span> Tags </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-people-fill"></i></span>
                            <span> Contributors </span>
                        </a>
                    </ul>
                </div>
            </div>  

            <div class = "col-md-8">
                <article class = "card mb-3">
                    <div class = "card-body">
                        <div class = "mb-3">
                            <!--
                            {% for tag in object.tags.all %}
                                <span class = "badge bg-secondary me-2">
                                    <a class = "text-light" href = "#"> {{ tag }} </a>
                                </span>
                            {% endfor %}
                            -->
                            <span class = "badge bg-secondary me-2">
                                <a class = "text-light" href = "#"> tag1 </a>
                            </span>
                            <span class = "badge bg-secondary">
                                <a class = "text-light" href = "#"> tag2 </a>
                            </span>
                            <span class = "float-end"><i class = "bi bi-gear"></i></span>
                        </div>
                        <div class = "mb-4">
                            <h3 class = "text-dark"> {{ object.name }} </h3>
                            <small class = "text-muted">
                                {{ object.date_created|date:"F d, Y" }}
                            </small>
                        </div>
                        <div class = "mb-4">
                            <h5> Description </h5>
                            <p class = "card-text text-break"> 
                                {{ object.description }}
                            </p>
                        </div>
                        <div class = "mb-4">
                            <h5 class = "mb-4"> Tasks </h5>
                            {% for task in object.task_set.all %}
                                <div class = "card mt-2">
                                    <small> {{ task.name }} </small>
                                </div>                           
                            {% endfor %}
                        </div>
                        <div>
                            <h5 class = "mb-4"> Contributors </h5>
                            <div class = "grid-container">
                                {% for contributor in object.contributors.all %}
                                    <div class = "card w-25 h-25">
                                        <div class = "d-flex flex-row gap-3">
                                            <div>
                                                <img class = "rounded-circle article-img" src = "{{ contributor.profile.picture.url }}">
                                            </div>
                                            <div class = "text-break">
                                                <a style = "font-size: 13px;" href = "#"> 
                                                    {{ contributor }}
                                                </a>
                                                <small style = "font-size: 13px;" class = "d-block"> N° ideas </small>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!--
                            <h5 class = "mb-4"> Contributors </h5>
                            {% for contributor in object.contributors.all %}
                                <article class = "w-25 h-25">
                                    <div class = "d-inline">
                                        <img class="rounded-circle article-img" src="{{ contributor.profile.picture.url }}">
                                    </div>
                                    <div class = "d-inline">
                                        <a href = "#">{{ contributor }}</a>
                                        <small class = "d-block"> N° ideas </small>
                                    </div>
                                </article>
                            {% endfor %}
                            -->
                        </div>
                    </div>                  
                </article>
            </div>

            <div class = "col-md-2">
                <div class = "content-section">
                    <ul class = "list-group">
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-lightbulb-fill"></i></span>
                            <span> My ideas </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-bookmark-fill"></i></span>
                            <span> Saved ideas </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-tag-fill"></i></span>
                            <span> Tags </span>
                        </a>
                        <a class = "list-group-item list-group-item-light" href = "#">
                            <span><i class = "bi bi-people-fill"></i></span>
                            <span> Contributors </span>
                        </a>
                    </ul>
                </div>
            </div>  

        </div>

        <!--
        {% for idea in ideas %}
            <div>
                <div>
                    <a class = "mr-2" href = "#"> {{ idea.author }} </a>
                    {% for contributor in idea.contributors.all %}
                        <small> {{ contributor }} </small>
                    {% endfor %}
                    <small> {{ idea.date_created }} </small>
                </div>
                <div>
                    <h2><a href = "#"> {{ idea.name }} </a></h2>
                    <p> {{ idea.description }} </p>
                    {% for task in idea.task_set.all %}
                        <ul>
                            <li> {{ task.name }} </li>
                        </ul>
                    {% endfor %}
                    {% for tag in idea.tags.all %}
                        <small> {{ tag }} </small>
                    {% endfor %}
                </div>
            </div>
            <br/>
        {% endfor %}
        -->

    </div>

{% endblock %}

