{% extends 'ideas/base.html' %}

{% block content %}

    <main class = "container">
        <div class = "row text-center justify-content-center">
            <div class = "col">
                <h1 class = "display-4"> List of Tags </h1>
            </div>
        </div>
    </main>

    {% for tag in tags %}
        <article class = "media content-section mb-4">
          <div class = "media-body">
            <h2><a class = "article-title"> {{ tag.name }} </a></h2>
            <p class = "article-content"> {{ tag.about }} </p>
          </div>
        </article>
    {% endfor %}

{% endblock %}
