body {
    margin-top: 3rem;
}

main {
    margin-top: 100px;
}

a {
    text-decoration: none;
}

.container .list-group .list-group-item {
    font-size: 13px;
    color: #222;
}

.container .list-group .list-group-item:hover {
    color: #FFF;
    background-color: #222;
}

.container .list-group .list-group-item span i {
    margin-right:  10px;
}

.container .col-md-10 h4 {
    font-size: 15px;
}

.container .col-md-10 p {
    font-size: 13px;
    text-align: justify;
    text-justify: inter-word;
}

.container .col-md-8 .card {
    padding: 10px;
}

.container .col-md-8 .card .card-text {
    margin: 15px 0 15px 0;
}

.container .col-md-8 .col-md-2 small {
    display: block;
    font-size: 12px;
}

.container .section {
    margin-top: 200px;
}

.container .section a button {
    height: 50px;
    width:  100px;
}

.container .register-form {
    width: 35%;
    margin:  0 auto;
    margin-top: 100px;
    border:  1px solid #DFDFDF;
    padding: 50px;
    border-radius: 5px;
}

.container .register-form input {
    height: 50px;
}

.container .register-form button {
    height:  50px;
}

.container .register-form small a {
    text-decoration: none;
}

.container .register-form small a:hover {
    text-decoration: underline;
}

.article-img {
    height: 45px;
    width: 45px;
}

.container .grid-container {
    display: flex;
    grid-template-columns: auto auto auto;
    gap: 85px;
}