{% extends 'ideas/home.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class = "container">
        <!--
        <form method="POST" action="{% url 'login' %}" class = "register-form">
            {% csrf_token %}
            <input type="text" name="username" required><br>
            <input type="password" name="password" required>
            <button type="submit" class="btn btn-outline-dark">Sign in</button>
        </form>
        -->
        
        <form method = "POST" class = "register-form">
            {% csrf_token %}
            <fieldset class = "form-group">
                <div class = "text-center">
                    <h5> Welcome back! </h5>
                    <p>
                        Take your prosocial AI idea <br/> to the next level
                    </p>
                </div>
            </fieldset>
            
            <div class = "mb-3">
                <input type = "text" class = "form-control" name = "username" {% if form.is_bound %} value = "{{ form.username.value }}" {% endif %} placeholder = "Email" >
            </div>
            
            <div class = "mb-3">
                <input type = "password" class = "form-control" name = "password" {% if form.is_bound %} value = "{{ form.password.value }}" {% endif %} placeholder = "Password" >
            </div>
            <div class = "text-end mb-3">
                <small><a href = "{% url 'password-reset' %}" class = "text-dark"> Forgot password? </a></small>
            </div>
            <button type = "submit" class = "btn btn-outline-dark w-100"> Sign in </button>
            <div class = "text-center mt-3">
                <small>
                    <a href = "{% url 'register' %}" class = "text-dark"> Do not have an account? </a>
                </small>
            </div>
        </form>

    </div>


{% endblock %}
