{% extends 'ideas/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class = "container">

        <form method = "POST" class = "register-form">
            {% csrf_token %}
            <fieldset class = "form-group">
                <div class = "text-center">
                    <h5> Forgot Password? </h5>
                    <p>
                        Reset password in two quick steps
                    </p>
                </div>
            </fieldset>
            <!-- Email -->
            <div class = "mb-3">
                <input type = "email" class = "form-control" name = "email" {% if form.is_bound %} value = "{{ form.email.value }}" {% endif %} placeholder = "Email" >
            </div>

            <button type = "submit" class = "btn btn-outline-dark w-100"> Request Reset </button>
        </form>
       
    </div>    

    <!--
    <h1> Password Reset </h1>

    <form method = "POST">
        {% csrf_token %}
        <div>
            {{ form|crispy }}
        </div>
        <button type = "submit"> Request Password Reset </button>
    </form>
    -->

{% endblock %}
