{% extends 'ideas/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class = "container">

        <form method = "POST" class = "register-form">
            {% csrf_token %}
            <fieldset class = "form-group">
                <div class = "text-center">
                    <h5> Choose a new password </h5>
                    <p>
                        Create a password that is <br/> hard to be guessed
                    </p>
                </div>
            </fieldset>
            <!-- Password -->
            <div class = "mb-3">
                <input type = "password" class = "form-control" name = "new_password1" {% if form.is_bound %} value = "{{ form.new_password1.value }}" {% endif %} placeholder = "Password" >
            </div>
            <!-- Password confirmation-->
            <div class = "mb-3">
                <input type = "password" class = "form-control" name = "new_password2" {% if form.is_bound %} value = "{{ form.new_password2.value }}" {% endif %} placeholder = "Confirm password" >
            </div>
            <button type = "submit" class = "btn btn-outline-dark w-100"> Reset Password </button>
        </form>

    </div>

{% endblock %}
