{% extends 'ideas/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <h1> Profile </h1>

    <div>
        <img src = "{{ user.profile.picture.url }}"/>
        <div>
            <p> {{ user.username }} </p>
            <p> {{ user.email }} </p>
        </div>
    </div>

    <form method = "POST" enctype = "multipart/form-data">
        {% csrf_token %}
        <div>
            {{ c_form|crispy }}
            {{ p_form|crispy }}
        </div>
        <button type = "submit"> Save </button>
    </form>

{% endblock %}
