{% extends 'ideas/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class = "container">

        <form method = "POST" class = "register-form">
            {% csrf_token %}
            <fieldset class = "form-group">
                <div class = "text-center">
                    <h5> Join the Community </h5>
                    <p>
                        Take your prosocial AI idea <br/> to the next level
                    </p>
                </div>
            </fieldset>
            <!-- Username -->
            <div class = "mb-3 mt-3">
                <input type = "text" class = "form-control" name = "username" {% if form.is_bound %} value = "{{ form.username.value }}" {% endif %} placeholder = "Username" >
                {% for err in form.username.errors %}
                    <small class = "text-danger"> {{ err }} </small><br>
                {% endfor %}
            </div>
            <!-- Email -->
            <div class = "mb-3">
                <input type = "email" class = "form-control" name = "email" {% if form.is_bound %} value = "{{ form.email.value }}" {% endif %} placeholder = "Email" >
                {% for err in form.email.errors %}
                    <small class = "text-danger"> {{ err }} </small><br>
                {% endfor %}
            </div>
            <!-- Password -->
            <div class = "mb-3">
                <input type = "password" class = "form-control" name = "password1" {% if form.is_bound %} value = "{{ form.password1.value }}" {% endif %} placeholder = "Password" >
                {% for err in form.password1.errors %}
                    <small class = "text-danger"> {{ err }} </small><br>
                {% endfor %}
            </div>
            <!-- Password confirmation-->
            <div class = "mb-3">
                <input type = "password" class = "form-control" name = "password2" {% if form.is_bound %} value = "{{ form.password2.value }}" {% endif %} placeholder = "Confirm password" >
                {% for err in form.password2.errors %}
                    <small class = "text-danger"> {{ err }} </small><br>
                {% endfor %}
            </div>
            <button type = "submit" class = "btn btn-outline-dark w-100"> Sign up </button>
            <div class = "text-center mt-3">
                <small>
                    <a href = "{% url 'login' %}" class = "text-dark"> Already have an account? </a>
                </small>
            </div>
        </form>
       
    </div>

{% endblock %}


